.skill-main-div {
    display: flex;

}

.skill-main {
    padding: 20px;
    /* margin: 0px auto; */
}

.skill-text {
    display: flex;
    justify-content: center;
    font-size: 70px;
    line-height: 1.1;
    font-family: "inter-bold";
}

.skill-sub-text {
    font-size: 30px;
    font-family: "inter-regular";
    text-align: center;
}

.skill-sub-second-text {
    font-size: 17px;
    font-family: "inter-light";
}

.skill-sub-third-text {
    font-size: 15px;
    font-family: "inter-thin";
}

.skill-card {
    flex: 1 0 calc(33.333% - 20px);
    border: 1px solid transparent;
    border-radius: 1rem;
    /* border-color: blue; */
    /* background: #fff; */
    padding: 1.2rem;
    line-height: 1.1;
    margin: 0px auto;
}

.col-skill {
    display: flex;
    flex-wrap: wrap;
    /* background-color: DodgerBlue; */
}

/* Media Query */
@media (max-width: 1920px) {
    .skill-text {
        font-size: 60px;
    }

    .skill-main {
        width: 35%;
    }
}

@media (max-width: 1380px) {
    .skill-main {
        width: 30%;
    }

    .skill-text {
        font-size: 50px;
    }

    .skill-card {
        height: 110vh;
    }
}

@media (max-width: 768px) {
    .skill-main {
        width: auto;
    }

    .skill-main-div {
        flex-wrap: wrap;
    }

    .skill-text {
        font-size: 30px;
    }

    .skill-card {
        height: auto;
    }

    .row > * {
        width: 50%;
    }

}