.experience-main-div {
    display: flex;    
    flex-wrap: wrap;
  }

.experience-main {     
    padding: 20px;
    margin: 0px auto;
}

.experience-text {
    display: flex;
    justify-content: center;
    /* margin-top: 80px; */
    font-size: 70px;
    line-height: 1.1;
    font-family: "cera-bold";
}

.experience-sub-text {
    font-size: 30px;    
    font-family: "cera-regular";  
    text-align: center;
}

.experience-sub-second-text {
    font-size: 20px;    
    font-family: "cera-thin";  
    text-align: center;
}

.experience-text-p {
    font-size: 40px;
    line-height: 40px;
    margin-right: 40px;
    font-family: "cera-light";
}

.experience-card {
    flex: 1 0 calc(33.333% - 20px);
    border: 3px solid transparent;
    border-radius: 2rem;
    /* border-color: blue; */
    background: #fff;    
    padding: 1.2rem;
    line-height: 1.1;   
    margin: 0px auto;
    /* height: 40vh; */
}

.experience-card-title {    
    /* border-radius: 2rem; */
    /* border-color: blue; */
    /* background: #fabe2c;     */
    padding: 1.2rem;
    line-height: 1.1;   
    max-width: auto;    
    margin: 0px auto;
}

.logo_img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 40%;
}

/* Media Query */
@media (max-width: 1920px) {
    .experience-text {
        font-size: 60px;
    }

    .experience-text-p {
        font-size: 20px;
    }   
    
    .experience-main {
        width: 55%;   
    }
}

@media (max-width: 1380px) {
    .experience-text {
        font-size: 50px;
    }

    .experience-text-p {
        font-size: 20px;
    }   
    
    .experience-main {
        width: 60%;   
    }
}

@media (max-width: 768px) {
    .experience-text-p {
        font-size: 13px;
    }

    .experience-text {
        font-size: 30px;
    }
    
    .experience-main {
        width: auto;   
    }
}