.experience-main-div {
    display: flex;    
    flex-wrap: wrap;
  }

.experience-main {     
    padding: 20px;
    margin: 0px auto;
}

.experience-text {
    display: flex;
    justify-content: center;
    /* margin-top: 80px; */
    font-size: 70px;
    line-height: 1.1;
    font-family: "inter-bold";
}

.experience-sub-text {
    font-size: 30px;    
    font-family: "inter-bold";  
    text-align: center;
}

.experience-sub-second-text {
    font-size: 20px;    
    font-family: "inter-light";  
    text-align: center;
}

.experience-text-p {
    font-size: 40px;
    line-height: 40px;
    margin-right: 40px;
    font-family: "inter-light";
}

.experience-card {
    flex: 1 0 calc(33.333% - 20px);
    border: 1px solid rgba(0, 0, 0, 0.05);
    border-radius: 0.75rem;
    padding: 1.5rem;
    margin: 1rem auto;
    height: 100%;

    display: flex;
    flex-direction: column;

    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.06), 0 1px 3px rgba(0, 0, 0, 0.1);

    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.experience-card:hover {
    transform: translateY(-4px);
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.12), 0 4px 6px rgba(0, 0, 0, 0.08);
    /* background: linear-gradient(145deg, #fafafa, #f0f0f0); */
}


.experience-card-content {
    flex-grow: 1;
    overflow: hidden;
    position: relative;
    max-height: 100px;
}

.read-more {
    cursor: pointer;
    color: blue;
    font-weight: bold;
}

.experience-card-title {    
    /* border-radius: 2rem; */
    /* border-color: blue; */
    /* background: #fabe2c;     */
    padding: 1.2rem;
    line-height: 1.1;   
    max-width: auto;    
    margin: 0px auto;
}

.logo_img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 40%;
}

/* Media Query */
@media (max-width: 1920px) {
    .experience-text {
        font-size: 35px;
    }

    .experience-text-p {
        font-size: 15px;
    }   
    
    .experience-main {
        width: 55%;   
    }
}

@media (max-width: 1380px) {
    .experience-text {
        font-size: 30px;
    }

    .experience-text-p {
        font-size: 14px;
    }   
    
    .experience-main {
        width: 60%;   
    }
}

@media (max-width: 768px) {
    .experience-text-p {
        font-size: 13px;
    }

    .experience-text {
        font-size: 25px;
    }
    
    .experience-main {
        width: auto;   
    }
}