.education-main {
    width: 90%;
    padding: 20px 10px;
    margin: 0px auto;
}

.education-text {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 80px;
    font-size: 70px;
    line-height: 1.1;
    font-family: "Google Sans Bold";
}

.education-history {
    font-size: 30px;
    line-height: 0px;
    font-family: "Google Sans Bold Italic";
}

.education-sub-text {
    font-size: 30px;    
    font-family: "Google Sans Bold Italic";
    text-align: center;
}

.education-text-p {
    font-size: 40px;
    line-height: 40px;
    margin-right: 40px;
    font-family: "Google Sans Medium";
}

.education-card {
    border: 1px solid transparent;
    border-radius: 2rem;
    /* border-color: blue; */
    /* background: #fabe2c;     */
    padding: 1.2rem;
    line-height: 1.1;   
    max-width: auto;    
    margin: 0px auto;   
}

/* Media Query */
@media (max-width: 1380px) {
    .education-text {
        font-size: 50px;
    }

    .education-text-p {
        font-size: 20px;
    }
}