.contact-main {
    display: flex;
    justify-content: center;
    align-items: center;
}

.contact-text {
    display: flex;
    justify-content: center;
    margin-top: 80px;
    font-size: 70px;
    line-height: 1.1;
    font-family: "Google Sans Bold";
}

.contact-text-p {
    font-size: 40px;
    line-height: 40px;    
    font-family: "Google Sans Medium";
}

.contact-card {
    border: 1px solid transparent;
    border-radius: 2rem;
    /* border-color: blue; */
    /* background: #fabe2c;     */
    padding: 1.2rem;
    line-height: 1.1;   
    max-width: auto;    
    margin: 0px auto;   
}

/* Media Query */
@media (max-width: 1380px) {
    .contact-text {
        font-size: 50px;
    }

    .contact-text-p {
        font-size: 20px;
    }
    
}

@media (max-width: 768px) {
    .contact-main {
        padding: 5%;
        display: block;
    }

    .contact-card {
        margin-bottom: 20px;
        padding: 3px;
    }
}