/* Cera Round PRO */

@font-face {
  font-family: 'cera-bold';
  src: url('../src/cera-round-pro-free-font/Demo_fonts/Fontspring-DEMO-ceraroundpro-bold.otf');
}

@font-face {
  font-family: 'cera-medium';
  src: url('../src/cera-round-pro-free-font/Demo_fonts/Fontspring-DEMO-ceraroundpro-medium.otf');
}

@font-face {
  font-family: 'cera-regular';
  src: url('../src/cera-round-pro-free-font/Demo_fonts/Fontspring-DEMO-ceraroundpro-regular.otf');
}

@font-face {
  font-family: 'cera-light';
  src: url('../src/cera-round-pro-free-font/Demo_fonts/Fontspring-DEMO-ceraroundpro-light.otf');
}

@font-face {
  font-family: 'cera-thin';
  src: url('../src/cera-round-pro-free-font/Demo_fonts/Fontspring-DEMO-ceraroundpro-thin.otf');
}

/* Roboto */


body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.background-image-div {
  background-size: cover;
  background-image: url('./blob-scene-haikei.svg');
  height: 100vh;
}

@media (max-width: 768px) {
  .background-image-div {
    background-image: url('./blob-scene-haikei-mobile.svg');    
  }
}



